# dependencies
node_modules/

# environment variables
.env
.env.*

# build files
dist/
build/

# logs
logs
*.log
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Vite cache
.vite/

# optional
coverage/
