
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
        }

        .icon {
            max-width: 2rem;
            max-height: 2rem;
        }

        .logo {
            max-width: 5rem;
        }

        .pfp {
            max-height: 8rem;
        }

        footer {
            position: sticky;
            bottom: 0;
            background-color: white;
            width: 100%;
            padding: 1rem;
            border: 1px solid black;
            text-align: center;
            align-items: center;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        #logo-box {
            text-align: left;
        }

        td,
        th {
            padding: 0.5rem;
        }

        #contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #contact #social {
            text-align: right;
        }

        header {
            display: block;
            position: sticky;
            top: 0;
        }

        nav {
            background-color: white;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        }

        nav ul {
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: flex-end;
        }

        nav ul li {
            padding-block: 1rem;
            padding-inline: 1rem;
        }

        nav ul li:first-child{
            margin-inline-end: auto;
        }

        nav ul li a {
            color: black;
            text-decoration: none;
        }

        nav ul li:hover {
            background-color: grey;
        }

        section {
            margin-block: 2rem;
            margin-inline: 2rem;
        }

        video {
            width: 16rem;
            height: 9rem;
        }

        .japanese-text {
            writing-mode: vertical-rl;
        }

        .japanese-list li {
            display: inline-block;
            writing-mode: vertical-rl;
        }

        h1 {
            margin-block-end: 1.25rem;
        }

        h2 {
            margin-block-end: 1rem;
        }

        h3 {
            margin-block-end: 0.75rem;
        }

        #about-me-heading {
            display: inline;
        }

        /* canvas {
                width: 16rem;
                height: 9rem;
        } */
        fieldset {
            padding-block: 1rem;
            padding-inline: 1rem;
            margin-block: 1rem;
            margin-inline: 1rem;
        }
        input {
            margin-block: 0.5rem;
            margin-inline-end: 1rem;
        }
        label {
            margin-block: 0.5rem;
        }
        #banner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 1rem;
            margin-inline: 1rem;
        }

        #submit-button {
            font-size: 1rem;
            display: block;
            margin-inline: auto;
            padding: 0.5rem;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        h2, h3 {
            text-align: center;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        form #rate {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        legend {
            text-align: center;
            font-weight: bold;
        }
        textarea {
            width: 80%;
            height: 30%;
        }
        #desc input {
            width: 25%;
        }
        #desc {
            display: block;
        }
        audio {
            display: block;
            margin-block:1rem;
            margin-inline: auto;
        }
        #media {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        video {
            width: 60vw;
            height: auto;
        }
        #pdf {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #pdf iframe, #pdf embed, #pdf object {
            width: 30vw;
            height: 50vh;
        }