.profile-list {
  display: flex;
  align-items: center;
}

.profile-list button {
  outline: none;
  border: none;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
  background-color: var(--input-bg);
  font-size: 1rem;
  font-weight: 900;
}

.profile-list button:hover{
  cursor:pointer;
}

.profile-list .login {
  border: 0.2rem solid var(--text-primary);
  color: var(--text-primary);
}

.profile-list .register {
  border: 0.2rem solid var(--text-secondary);
  color: var(--text-secondary);
}