:root {
    --primary: rgba(104,52,212,1);
    --seconday: rgba(104,52,212,0.8);
    --background-primary: white;
    --background-secondary: rgb(242,240,239);
    --text-primary: white;
    --text-secondary: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-secondary);
}

.chat-container {
    background-color: var(--background-primary);
    width: 30rem;
    border-radius: 1rem;
    margin-block: 20vh;
    margin-inline: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.chat-container .chat-header {
    background-color: var(--primary);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: var(--text-primary);
    padding-block: 1rem;
    font-weight: bolder;
}

.chat-container .chat-body {
    height: 25rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat-container .chat-body .message {
    border-radius: 1rem;
    margin-inline: 0.5rem;
    margin-block: 0.5rem;
    transition: all 2s;
}

.chat-container .chat-body .notSent {
    width: 0;
    font-size: 0;
    margin-block-end: 4rem;
    transition: all 2s;
}

.chat-container .chat-body .sent {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    transition: all 0.15s;
}

.chat-container .chat-body .user {
    background-color: var(--primary);
    color: var(--text-primary);
    align-self: flex-end;
    margin-inline-start: 4rem;
}

.chat-container .chat-body .bot {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    align-self: flex-start;
    margin-inline-end: 4rem;
}

.chat-container .chat-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid rgba(179, 179, 179,0.5);
    padding-block: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}

.chat-container .chat-footer #prompt {
    border-radius: 1.5rem;
    border: 1px solid rgba(179, 179, 179,1);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    flex: 1;
    margin-inline-end: 0.5rem;
    transition: transform 0.1s;
    outline: none;
}

.chat-container .chat-footer #prompt:hover {
    transform: translateY(-1.5px);
    transition: transform 0.1s;
}

.chat-container .chat-footer #submit {
    border-radius: 1.5rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border: none;
    background-color: var(--primary);
    color: var(--text-primary);
    font-weight: bolder;
    margin-inline-start: 0.5rem;
    transition: transform 0.1s;
    outline: none;
}

.chat-container .chat-footer #submit:hover {
    transform: translateY(-1.5px);
    background-color: var(--seconday);
    transition: transform 0.1s;
}