.item-listing.container {
  background-color: var(--input-bg);
  background-color: var(--item-bg);
  max-height: 30rem;
  max-width: 15rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-primary-dark);
  font-weight: 700;
  border: 0.2px solid var(--border);
}

.item-listing.container img {
  max-width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  border: 0.2px solid var(--border);
}

.item-listing.container .dilevry-time {
  font-size: 0.5rem;
}

.item-listing.container h2 {
  font-size: 0.8rem;
}

.item-listing.container h3 {
  font-size: 0.7rem;
  color: var(--text-primary);
  font-weight: 600;
}

.item-listing.container .shop-container {
  margin-block-start: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-listing.container .shop-container button {
  outline: none;
  border: 2px solid var(--text-secondary);
  background-color: var(--text-secondary-light);
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 700;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
}

.item-listing.container .shop-container button:hover{
  cursor:pointer;
}

.item-listing.container .price-container {
  display: flex;
  font-size: 0.8rem;
  flex-direction: column;
  line-height: 0.8rem;
}

.item-listing.container .price-container .MRP {
  text-decoration: line-through;
  color: var(--text-primary);
  font-weight: 400;
}