nav {
  background-color: var(--primary);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav-list.search.item {
  flex-grow: 1;
}

li {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.nav-list.logo.item:hover {
  background-color: var(--primary-light);
}
